body {
	background: #F1F1F1;
	color: #c2c2c2;
	font-family: Arial, sans-serif;
}
main {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
input[type="text"] {
	outline: none;
	border: none;
	background: #F1F1F1;
	font-size: 600%;
	font-weight: bold;
	width: 77%;
	color:  #ec5a62;
}
input[type="image"] {
	width: 6%;

}
aside {
	display: inline-block;
	margin-top: 25px;
	width: 25%;
}
h1 {
	text-transform: uppercase;
	font-size: 95%;
	font-weight: 900;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: left 10px top 10px;

}
a {
	background-color: rgba(118,117,128,0.05);
	margin-bottom: 5px;
	text-decoration: none;
	color: #c2c2c2;
	font-size: 75%;
	font-weight: 700;
	display: block;
	height: 40px;
	overflow: hidden;
	padding-left: 65px;
	padding-top: 20px;

}
a:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
	border-radius: 5%;
}
a:active {
	color: #ec5a62;
}
.ba-people, .ba-popular {
	margin-right: 40px;
}

.ba-people li:first-child {
	background-image: url(../img/avatars/SaraSoueidan.jpeg);

}
.ba-people li:nth-child(2) {
	background-image: url(../img/avatars/RachelSmith.png);
}
.ba-people li:nth-child(3) {
	background-image: url(../img/avatars/PeterFinlan.jpeg);
}
.ba-people li:nth-child(4) {
	background-image: url(../img/avatars/PatrickCox.png);
}
.ba-people li:nth-child(5) {
	background-image: url(../img/avatars/TimHolman.jpeg);
}
.ba-people li:last-child {
	background-image: url(../img/avatars/ShaunDona.jpeg);
}
.ba-popular li:first-child {
	background-image: url(../img/thumbs/PagePreloadingEffect.png);
}
.ba-popular li:nth-child(2) {
	background-image: url(../img/thumbs/ArrowNavigationStyles.png);
}
.ba-popular li:nth-child(3) {
	background-image: url(../img/thumbs/HoverEffectsIdeasNew.png);
}
.ba-popular li:nth-child(4) {
	background-image: url(../img/thumbs/FreebieHalcyonDays.png);
}
.ba-popular li:nth-child(5) {
	background-image: url(../img/thumbs/ArticleIntroEffects.png);
}
.ba-popular li:last-child {
	background-image: url(../img/thumbs/DraggableDualViewSlideshow.png);
}
.ba-recent li:first-child {
	background-image: url(../img/thumbs/TooltipStylesInspiration.png);
}
.ba-recent li:nth-child(2) {
	background-image: url(../img/thumbs/AnimatedHeaderBackgrounds.png);
}
.ba-recent li:nth-child(3) {
	background-image: url(../img/thumbs/OffCanvas.png);
}
.ba-recent li:nth-child(4) {
	background-image: url(../img/thumbs/TabStyles.png);
}
.ba-recent li:nth-child(5) {
	background-image: url(../img/thumbs/ResponsiveSVGs.png);
}
.ba-recent li:last-child {
	background-image: url(../img/thumbs/NotificationStyles.png);
}
