body {
	background: #F1F1F1;
	color: #c2c2c2;
	font-family: Arial, sans-serif;
}
main {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
input.ba-search {
	outline: none;
	border: none;
	background: #F1F1F1;
	font-size: 600%;
	font-weight: bold;
	width: 83%;
	color:  #ec5a62;
}
button.ba-button {
	background: url(../img/magnifier.svg) no-repeat;
	padding: 0;
	border: none;
	width: 62px;
	height: 62px;
}
main aside {
	display: inline-block;
	padding: 0;
	padding-top: 50px;
	width: 30%;
	box-sizing: border-box;
	vertical-align: top;
}
aside.ba-people,aside.ba-popular {
	padding-right: 5%;
}

main h1 {
	text-transform: uppercase;
	font-size: 95%;
	font-weight: 900;
	margin: 0;
}
main ul {
	list-style-type: none;
	padding: 0;
}

main a {
	background-color: rgba(118,117,128,0.05);
	text-decoration: none;
	color: #c2c2c2;
	font-size: 70%;
	font-weight: bold;
	display: block;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
}
a:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
	border-radius: 5%;
}
a:active {
	color: #ec5a62;
}
main img {
	vertical-align: middle;
	display: inline-block;
	width: 50px;
}
main h3 {
	vertical-align: middle;
	display: inline-block;
	padding-left: 10px;
	max-width: calc(100% - 70px);
}
aside.ba-people img {
	border-radius: 50%;
}
